/* tursics.ddj CSS file */
/* version 0.3 */

#map {
	width: 100%;
	height: 100%;
	padding: 0px !important;
}
#map .attribution {
	display: none;
}

[data-search="noSuggestion"] {
	display: none;
}

.visibleWithData {
	display: none;
}
.visibleWithoutData {
	display: block;
}
.visibleWithErrors {
	display: none;
}
.visibleWithoutErrors {
	display: block;
}

.showMobile {
	display: none;
}
@media (max-width: 30em) {
	.showMobile {
		display: block !important;
	}
	.hideMobile {
		display: none !important;
	}
}
